<div class="about-me__wrapper">
    <div class="about-me__content">
        <p class="about-me__text simple__text">
            Hello, i’m Elias!
        </p>
        <p class="about-me__text simple__text">
            I’m a self-taught front-end developer based in Kyiv, 
            Ukraine. I can develop responsive websites from 
            scratch and raise them into modern user-friendly 
            web experiences.
        </p>
        <p class="about-me__text simple__text">
            Transforming my creativity and knowledge into a websites 
            has been my passion for over a year. I have been helping 
            various clients to establish their presence online. 
            I always strive to learn about the newest 
            technologies and frameworks.
        </p>

        <a href="#" class="about-me__more button" *ngIf="isMore">Read more -></a>
    </div>
    <div class="about-me__block-image">
        <img src="./assets/images/about-me.png" alt="Me">
    </div>
</div>
