<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__content">
                <h1 class="header__title">Yurij is a <span>front-end developer</span></h1>
                <p class="header__text simple__text">He crafts responsive websites where technologies meet creativity</p>
                <a href="#" class="header__contact button">Contact Me !!</a>
            </div>
            <div class="header__my-image">
                <img src="./assets/images/me-header.png" alt="It's my photo" class="header__photo">
                <div class="header__work-going">
                    <p class="header__text simple__text">Currently working on <span>Portfolio</span></p>
                </div>
            </div>
        </div>
    </div>
</header>
