<app-header></app-header>
<div class="quote">
    <div class="container">
        <div class="quote__content">
            <p class="quote__text">Difficult roads often lead to beautiful destinations</p>
        </div>
    </div>
</div>
<div class="projects">
    <div class="container">
        <div class="projects__head">
            <h3 class="projects__title title"><span>#</span>projects</h3>
            <a href="#" class="projects__all">Viev all ~~></a>
        </div>

        <div class="projects__content">
            <app-project></app-project>
            <app-project></app-project>
            <app-project></app-project>
            <app-project></app-project>
            <app-project></app-project>
            <app-project></app-project>
        </div>
    </div>
</div>

<div class="skills">
    <div class="container">
        <h3 class="skills__title title"><span>#</span>skills</h3>
        <div class="skills__wrapper">
            <div class="skills__figures">
                <img src="./assets/images/dots.png" alt="dots" class="figure dots1">
                <img src="./assets/images/dots.png" alt="dots" class="figure dots2">
                <img src="./assets/images/figure.svg" alt="figure" class="figure elias">
                <span class="figure rectangle rectangle1"></span>
                <span class="figure rectangle rectangle2"></span>
            </div>
            <div class="skills__content">
                <div>
                    <app-skill></app-skill>
                </div>
                <div>
                    <app-skill></app-skill>
                    <app-skill></app-skill>
                </div>
                <div>
                    <app-skill></app-skill>
                    <app-skill></app-skill>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-me">
    <div class="container">
        <h3 class="skills__title title"><span>#</span>about-me</h3>
        <app-about-me-header></app-about-me-header>
    </div>
</div>

<div class="contacts">
    <div class="container">
        <h3 class="skills__title title"><span>#</span>contacts</h3>
        <app-contacts-header></app-contacts-header>
    </div>
</div>

