<div class="projects">
    <div class="container">
        <h3 class="projects__title title__page"><span>/</span>projects</h3>
        <p class="projects__text">List of my projects</p>

        <div class="projects__complete">
            <h5 class="projects__sub-title title__page"><span>#</span>complete-apps</h5>
            <div class="projects__wrapper">
                <app-project></app-project>
                <app-project></app-project>
                <app-project></app-project>
                <app-project></app-project>
                <app-project></app-project>
            </div>
        </div>
        <div class="projects__small">
            <h5 class="projects__sub-title title__page"><span>#</span>small-projects</h5>
            <div class="projects__wrapper">
                <app-project></app-project>
                <app-project></app-project>
                <app-project></app-project>
                <app-project></app-project>
                <app-project></app-project>
            </div>
        </div>
    </div>
</div>
