<div class="about-me">
    <div class="container">
        <h3 class="about-me__title title__page"><span>/</span>projects</h3>
        <p class="about-me__text">List of my projects</p>

        <app-about-me-header [isMore]="false"></app-about-me-header>

        <div class="about-me__skills">
            <h5 class="about-me__sub-title title__page"><span>#</span>skills</h5>
            <div class="about-me__skills-items">
                <app-skill></app-skill>
                <app-skill></app-skill>
                <app-skill></app-skill>
                <app-skill></app-skill>
                <app-skill></app-skill>
            </div>
        </div>

        <div class="about-me__facts">
            <h5 class="about-me__sub-title title__page"><span>#</span>my-fun-facts</h5>
            <div class="about-me__facts-items">
                <div class="about-me__fact">
                    <p class="about-me__text">I often bike with my friends</p>
                </div>
                <div class="about-me__fact">
                    <p class="about-me__text">I don’t have any siblings</p>
                </div>
                <div class="about-me__fact">
                    <p class="about-me__text">I like pizza and pasta</p>
                </div>
                <div class="about-me__fact">
                    <p class="about-me__text">I often bike with my friends</p>
                </div>
                <div class="about-me__fact">
                    <p class="about-me__text">I like pizza and pasta</p>
                </div>
            </div>
            <img src="./assets/images/dots.png" alt="dots" class="dots">
            <img src="./assets/images/figure.svg" alt="figure" class="figure">
        </div>
    </div>
</div>